<h3>Create New Item</h3>

<p>
  <em>What would you like to add to your list?!?!?</em>
</p>

<form action="/create" method="post">
  <input type="text" name="item" placeholder="Name your Item!">
  <input type="text" name="quantity" placeholder="How much do you need?">
  <input type="submit">Create Item</input>
</form>
