<br>
<br>
<br>
<br>
<div id="new_item">
<h3>Create New Item</h3>

<p>
  <em>What would you like to add to your list?!?!?</em>
</p>


  <form action="/create" method="post">
    <input type="text" class="create" name="item" placeholder="Name your Item!">
    <input type="text" name="quantity" class="create" placeholder="Quantity?">
    <input class="modify" type="submit"></input>
  </form>
</div>
<br>
<br>
<br>
<br>
<br>
