<p>
  Christmas is around the corner!  It is time to figure out your shopping lists for everyone special in your life!  Some people you might need to shop for include the following:
</p>

<ul>
  <li>Dad</li>
  <li>Mom</li>
  <li>Siblings</li>
  <li>Grandparents</li>
  <li>Aunts</li>
  <li>Uncles</li>
</ul>
