  <br>
  <br>
  <br>
  <br>
  <h3 class="login_name">Login</h3>

  <% if @message %>
  <li><%= @message%></li>
  <% end %>
  <form id="login" action="/account/login" method="post">
    <input type="text" class="create" name="user_name" placeholder="Username">
    <br>
    <br>
    <input type="password" class="create" name="password" placeholder="Password">
    <br>
    <br>
    <input class="modify" type="submit" name="submit" value="Submit">
  </form>
    <p>
      <small><a class="new_user" href="/account/register">New User Registration</a><small>
    </p>
    <br>
    <br>
    <br>
    <br>
