<br>
<br>
<br>
<div id="message">

<h3>Success</h3>

<% if @message %>
  <strong><%= @message %></strong>
<% end %>
<br>
<br>

<button class="modify"><a class="underline" href="/">Return Home</a></button>
</div>
<br>
<br>
<br>
<br>
