<br>
<br>
<br>
<div class="new_user">
  <h2>New User Registration</h2>
    <form action="/account/register" method="post">
      <input class="create" type="text" name="user_name" placeholder="Username">
        <small><p>Please create a unique username that you will remember</p></small>
      <br>
        <input class="create" type="text" name="user_email" placeholder="Email">
        <small><p>Please enter your email</p></small>
      <br>
        <input class="create" type="password" name="password" placeholder="Password">
          <small><p>Please create a password that is at least 8 characters long and contains Uppercase Letters, Lowercase Letters, and at least One Special Character</p></small>
      <br>
        <input class="modify" type="submit" name="submit" value="Submit">
    </form>
  </div>
<br>
<br>
<br>
